@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.color-orange {
    color: #E87E24 !important;
}

.nav-item>a:hover {
    color: #E87E24;
    font-weight: 600;
}

.nav-link {
    color: black;
    font-weight: 500;
}

.btn-primary {
    color: #ffffff !important;
    background-color: #090531 !important;
    border-color: #090531 !important;
    box-shadow: 0 0px 4px 0.25px #b7b7b7 !important;
}

.btn-primary:hover {
    color: #ffffff !important;
    background-color: #060324 !important;
    border-color: #060324 !important;
    box-shadow: 0 0px 4px 0.25px #b7b7b7 !important;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0px 4px 0.25px #b7b7b7 !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: rgb(184, 184, 184) !important;
    background-color: #090531 !important;
    border-color: #090531 !important;
    box-shadow: 0 0px 4px 0.25px #b7b7b7 !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #ffffff !important;
    background-color: #04021c !important;
    border-color: #04021c !important;
    box-shadow: 0 0px 4px 0.25px #b7b7b7 !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0.25px 2px 0.5px #b7b7b7 !important;
}

.btn-secondary {
    color: #ffffff !important;
    background-color: #D06422 !important;
    border-color: #D06422 !important;
    box-shadow: 0 0px 4px 0.25px #b7b7b7 !important;
}

.btn-secondary:hover {
    color: #ffffff !important;
    background-color: #ba5618 !important;
    border-color: #ba5618 !important;
    box-shadow: 0 0px 4px 0.25px #b7b7b7 !important;
}

.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: 0 0px 4px 0.25px #b7b7b7 !important;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: rgb(184, 184, 184) !important;
    background-color: #D06422 !important;
    border-color: #D06422 !important;
    box-shadow: 0 0px 4px 0.25px #b7b7b7 !important;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: #ffffff !important;
    background-color: #9b450f !important;
    border-color: #9b450f !important;
    box-shadow: 0 0px 4px 0.25px #b7b7b7 !important;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0.25px 2px 0.5px #b7b7b7 !important;
}

@media screen and (max-width: 992px) {
    .nav-between-on-mobile {
        width: 100% !important;
        justify-content: space-between;
    }
}

footer {
    background-color: #2f2e41;
}

.unduh:hover {
    background-color: #19A7CE;
}

.unduh {
    background-color: #19A7CE;
}